<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <servlet>
 	<servlet-name>primu</servlet-name>
 	<servlet-class>victor.first.PrimuServlet</servlet-class>
 </servlet>

<servlet-mapping>
	<servlet-name>primu</servlet-name>
	<url-pattern>/primu</url-pattern>
</servlet-mapping>

 <servlet>
 	<servlet-name>catreJsp</servlet-name>
 	<servlet-class>victor.first.CatreJsp</servlet-class>
 </servlet>

<servlet-mapping>
	<servlet-name>catreJsp</servlet-name>
	<url-pattern>/catreJsp</url-pattern>
</servlet-mapping>



 <servlet>
 	<servlet-name>download</servlet-name>
 	<servlet-class>victor.first.DownloadServlet</servlet-class>
 </servlet>

<servlet-mapping>
	<servlet-name>download</servlet-name>
	<url-pattern>/download</url-pattern>
</servlet-mapping>


<servlet>
 	<servlet-name>second</servlet-name>
 	<servlet-class>victor.first.SecondServlet</servlet-class>
 </servlet>

<servlet-mapping>
	<servlet-name>second</servlet-name>
	<url-pattern>/second/*</url-pattern>
</servlet-mapping>

    <servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	


</web-app>
